@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using csgo.Controllers
@{ RenderBody();
}

@{
    var trool = false;
    if (trool)
    {

        <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

            <title>New Page 1</title>

        </head>

        <body bgcolor=#DFDBC6>
            <div align="center">

                &nbsp;<table border="0" width="80%" height="90%" bgcolor=#FFFFFF style="border-collapse: collapse">
                    <tr height=145 align=center>
                        <td width="13%"><img src="/img/stema_relief.jpg" width="92" height="109"></td>
                        <td>
                            <p align="center">
                                <b>
                                    <font face="Arial" color="#00236C" size="5">MINISTERUL PUBLIC</font>

                                </b>
                            </p>
                            <p align="center" style="margin-top: 0; margin-bottom: 0">
                                <b>

                                    <font face="Arial" color="#00236C" size="4">PARCHETUL DE PE L<span lang="ro">ÂNG&#258;</span></font>
                                </b>
                            </p>
                            <p style="margin-top: 0; margin-bottom: 0" align="center">
                                <b>
                                    <span lang="ro">
                                        <font face="Arial" color="#00236C" size="4">
                                            ÎNALTA CURTE DE
                                            CASA&#354;IE &#350;I JUSTI&#354;IE
                                        </font>
                                    </span>
                                </b>
                        </td>
                        <td width="16%" align=center>
                            <img src="/img/stema_rotunda.jpg" width="109" height="109">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height=23 background=/img/bordura_sus.jpg>&nbsp;</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>



                    <tr>
                        <td width="13%">&nbsp;</td>
                        <td height=364 width=699 style="background-repeat: no-repeat; background-position:top center;" background=/img/background.gif>
                            <p align="center">
                                <b>
                                    <font face="Arial" size="6" color="#00236C">
                                        Acest nume de domeniu
                                        este sechestrat
                                        <span lang="ro">în conformitate cu dispozi&#355;iile art.</span>249<span lang="ro">
                                            din Codul de
                                            procedur&#259; penal&#259;.
                                        </span>
                                    </font>
                                </b>
                            </p>
                            <p align="center">
                                <b>
                                    <font face="Arial" size="6" color="#00236C">
                                        <span lang="ro">
                                            Prezentul nume de domeniu face obiectul unei cauze
                                            penale.</span>
                                    </font>
                                </b>&nbsp;
                        </td>
                        <td width="16%">&nbsp;</td>
                    </tr>



                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>



                    <tr>
                        <td colspan="3" height=90 background=/img/bordura_jos.jpg>&nbsp;</td>
                    </tr>



                </table>
            </div>
        </body>

        </html>
    }
    else
    {
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>steamaccounts.us</title>
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="~/css/bootstrap.min.css">
            <!-- Material Design Bootstrap -->
            <link rel="stylesheet" href="~/css/mdb.min.css">
            <link rel="stylesheet" href="~/css/addons/datatables.min.css">
            <link rel="stylesheet" href="~/css/addons/datatables-select.min.css">
            <!-- Your custom styles (optional) -->
            <link rel="stylesheet" href="~/css/style.css">
            <style>
                .collapsible-body {
                    display: none;
                }
            </style>
            @if ( Context.Request.Path.Value.Contains( "market" ) )
            {

                <script data-ad-client="ca-pub-4301162217076339" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            }

            <script type="text/javascript" src="~/js/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="~/js/popper.min.js"></script>
            <script type="text/javascript" src="~/js/addons/datatables.min.js"></script>
            <script type="text/javascript" src="~/js/addons/datatables-select.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="~/js/mdb.min.js"></script>
            <!-- Smartsupp Live Chat script -->
            <script type="text/javascript">
                var _smartsupp = _smartsupp || {};
                _smartsupp.key = 'ae16d3aa4b2cabc03c7a1f81ffe119cb3c1dd1d4';
                window.smartsupp || (function (d) {
                    var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
                    s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
                    c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
                    c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
                })(document);

            </script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166969758-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-166969758-1');
            </script>

        </head>
        <body class="black-skin">


            <header>
                @{if ( Context.Request.Path.Value.Contains( "admin" ) && ViewBag.account != null && ViewBag.account.admin != null && ViewBag.account.admin )
                    {

                        <!-- Sidebar navigation -->
                        <div id="slide-out" class="side-nav fixed side-nav-dark">
                            <ul class="custom-scrollbar">
                                <!-- Logo -->
                                <li>
                                    <div class="logo-wrapper waves-light">
                                        <a href="#">
                                            <img src="https://systechafrica.com/wp-content/uploads/2018/06/admin-panel-icon-flat.png"
                                                 class="img-fluid flex-center" style='height: 100%; width: 100%; object-fit: contain'>
                                        </a>
                                    </div>
                                </li>


                                <!--/.Search Form-->
                                <!-- Side navigation links -->
                                <li class="pt-5">
                                    <ul class="collapsible collapsible-accordion">

                                        <li>
                                            <a href="@Url.Action("index", "admin")" class="waves-effect">Index</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("users", "admin")" class="waves-effect">View users</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("accounts", "admin")" class="waves-effect">View accounts</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("disputes", "admin")" class="waves-effect">Disputes</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("transactions", "admin")" class="waves-effect">Transactions</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("accountsTranfsers", "admin")" class="waves-effect">Accounts tranfsers</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("sellerRequests", "admin")" class="waves-effect">Seller requests</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("withdrawRequests", "admin")" class="waves-effect">Withdraw requests</a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/. Side navigation links -->
                            </ul>
                            <div class="sidenav-bg rgba-blue-strong"></div>
                        </div>
                        <!--/. Sidebar navigation -->
                    }

                }
                <nav class="navbar navbar-expand-sm navbar-dark fixed-top scrolling-navbar">
                    <div class="container">

                        <a class="navbar-brand" href="#">
                            <strong>steamaccounts.us</strong>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                                        Home

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("csgoMarket", "marketPlace")">csgo Market</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("steamMarket", "marketPlace")">Steam market</a>
                                </li>
                                @if ( ViewBag.account != null && ViewBag.account.admin )
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "admin")">Admin panel</a>
                                    </li>

                                }

                            </ul>
                            <form class="form-inline">

                                @if ( ViewBag.logged != null && ViewBag.logged )
                                {
                                    <div class="md-form my-0">
                                        <a class="nav-link" id="readNotifications" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            @{if ( ViewBag.account.unSeenNotifications > 0 )
                                                {@ViewBag.account.unSeenNotifications}} <i class="fas fa-envelope"></i>
                                        </a>

                                        <div class="dropdown-menu" id="dropDownMenu">



                                        </div>
                                    </div>
                                }

                                @if ( ViewBag.logged != null && ViewBag.logged )
                                {
                                    @if ( ViewBag.account.seller )
                                    {
                                        <div class="md-form my-0">
                                            <a class="btn btn-outline-danger btn-rounded waves-effect btn-sm" href="@Url.Action("addAccount", "marketPlace")">Sell account</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="md-form my-0">
                                            <a class="btn btn-outline-danger btn-rounded waves-effect btn-sm" href="https://steamaccounts.us/sellerRequest">Request seller</a>
                                        </div>
                                    }
                                }

                                <div class="md-form my-0">
                                    @if ( ViewBag.logged == null || !ViewBag.logged )
                                    {
                                        <a class="nav-link" href="@Url.Action("Index", "Login")">Login</a>


                                    }
                                    else
                                    {
                                        <a class="nav-link" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">Welcome, @ViewBag.account.username </a>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("index", "profile")">My profile</a>
                                            <a class="dropdown-item" href="@Url.Action("logout", "home")">Log out</a>


                                        </div>
                                    }


                                </div>

                            </form>
                        </div>
                    </div>
                </nav>



            </header>
            <div class="modal fade top" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" data-backdrop="true">
                <div class="modal-dialog modal-frame modal-top modal-notify modal-dark" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Body-->
                        <div class="modal-body">
                            <div class="row d-flex justify-content-center align-items-center">

                                <p class="pt-3 pr-2">We use cookies to improve your website experience</p>

                                <a type="button" class="btn btn-dark">Learn more <i class="fas fa-book ml-1"></i></a>
                                <a type="button" class="btn btn-outline-dark waves-effect" data-dismiss="modal" id="acceptCookie">Ok, thanks</a>
                            </div>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            @RenderBody( )

            <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js"></script>
            @if ( ViewBag.account != null )
            {
                <script src="~/js/notifications.js"></script>
                <script>
                    $(document).ready(() => {

                        var seen = false;
                        $("#readNotifications").click(() => {
                            if (seen)
                                return;
                            seen = true;
                            $.getJSON('@Url.Action("readNotifications", "profile")', {}, function (data) {
                                if (data) {
                                    if (data.empty) {
                                        toastr.error("Your mailbox is empty.");
                                        return;
                                    }
                                    var menu = $("#dropDownMenu");
                                    menu.empty();
                                    data.data.forEach(notification => {
                                        menu.append(` <a class="dropdown-item">

    <div class="clearfix"> <div class="text-black d-inline">${notification.message}</div>  <h6 class="d-inline float-right text-muted"><small>${ notification.date.toLocaleString() }</small></h6> </div>

                                        </a>
`);
                                    });
                                }

                            });
                        });
                    });</script>
            }
            else
            {
                HttpContextAccessor.HttpContext.Response.Cookies.Delete( "sessionid" );
            }
            <!-- Initializations -->
            <script type="text/javascript">
                $(document).ready(function () {
                    if (!localStorage.getItem("cookieConsent")) {
                        $("#cookieModal").modal('show');
                        $("#acceptCookie").click(function () {
                            localStorage.setItem("cookieConsent", true);
                        });
                    }
                });
              </script>
            <script type="text/javascript">
        // Animations initialization
    $(document).ready(function() {
        
    var url = window.location;
    $('.navbar .nav').find('.active').removeClass('active');
    $('.navbar .nav li a').each(function() {
        if (this.href == url) {
            $(this).parent().addClass('active');
        }
    });
    new WOW().init();
    $(".button-collapse").sideNav();

    });



try {
    var toast = @Html.Raw(TempData["toast"]);


    if (toast) {

        switch (toast.type) {
            case 'error':
                toastr.error(toast.message);
                break;
            case 'success':
                toastr.success(toast.message);
                break;
            case 'warning':
                toastr.warning(toast.message);
                break;

        }
    }
} catch {

}
            </script>
            @{
                if ( ViewBag.account != null )
                {
                    <script>
            smartsupp('name', '@ViewBag.account.username');
            smartsupp('email', '@ViewBag.account.email');
                    </script>
                }
            }
            @RenderSection( "Scripts", required: false )
        </body>
    </html>
}
}
<!-- Footer -->